<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script>
	var socket = io.connect('http://localhost:8080');

	// on connection to server, ask for user's name with an anonymous callback
	socket.on('connect', function(){
		// call the server-side function 'adduser' and send one parameter (value of prompt)
		socket.emit('adduser', 'Danniel');
	});
//prompt("What's your name?")
	// listener, whenever the server emits 'updatechat', this updates the chat body
	socket.on('updatechat', function (username, data) {
		$('#conversation').append('<b>'+username + ':</b> ' + data + '<br>');
	});

	// listener, whenever the server emits 'updaterooms', this updates the room the client is in
	socket.on('updaterooms', function(rooms, current_room, data, name) {
		$('#rooms').empty();
		for(var x = 0; x < rooms.length; x++){
			if(rooms[x] == current_room){
				$('#rooms').append('<div>' + name[x] + '</div>');
			}
			else {
				$('#rooms').append('<div><a href="#" onclick="switchRoom(\''+rooms[x]+'\')">' + name[x] + '</a></div>');
			}
		}
		
	
		if(data.length){
                        for(var x = 0;x < data.length;x++){
                            // Build out message div
                            var message = document.createElement('div');
                            message.setAttribute('class', 'chat-message');
                            message.textContent = data[x].name+": "+data[x].message;
                            conversation.appendChild(message);
                            conversation.insertBefore(message, conversation.firstChild);
                        }
                    }
	});

	function switchRoom(room){
		conversation.textContent = '';
		socket.emit('switchRoom', room);
	}
	
	// on load of page
	$(function(){
		// when the client clicks SEND
		$('#datasend').click( function() {
            var message = $('#data').val();
            var server = $('#currentserver').val();
			$('#data').val('');
			// tell server to execute 'sendchat' and send along one parameter
			socket.emit('sendchat', message, server);
		});

		// when the client hits ENTER on their keyboard
		$('#data').keypress(function(e) {
			if(e.which == 13) {
				$(this).blur();
				$('#datasend').focus().click();
			}
		});
	});

</script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<a href = '/serverbrowser'> Return</a>
<input id = "currentserver" type = "hidden" <%= "value = " + currentserver[0].serverparent %> > 
<h1> <%= currentserver[0].serverparent %></h1>
<div style="float:left;width:150px;border-right:1px solid black;height:90%;padding:10px;overflow:scroll-y;">
	<b>ROOMS</b>
	<div id="rooms"></div>
    <br>
	<a <%= "href = /rooms?id="+currentserver[0].serverparent %>>ADD ROOM</a>
	
</div>
<div style="float:left;width:300px;height:250px;overflow:scroll-y;padding:10px;">
	<div id="conversation"></div>
    <input id="data" style="width:200px;" />
	<input class = 'btn btn-primary' type="button" id="datasend" value="send" />
</div>
