<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client Data</title>
</head>
<body>
        <h1>Add Room for <%= currentserver[0].servername %></h1>
        <form action="/quotes" method="POST">
            <input type="text" placeholder="Room Name" name="roomname">
            <select name="type">
                    <option value="Public">Public</option>
                    <option value="Private">Private</option>
            </select>
            <input type = "hidden" name = "serverparent" <%= "value="+currentserver[0].servername%>>
            <button type="submit">Submit</button>
          </form>
</body>
</html>